body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(121, 121, 204);
}
.container {
  background-color: rgb(241, 133, 133);
  /* margin-left: 20px; */
  padding-left: 20px;
}
.child {
  background-color: aqua;
  color: magenta;
  padding-left: 10px;
  padding-top: 10px;
}
